node_modules
goblinhood.pem
*.csv
cassandra.js 
generate_data.js
database-mongodb/queries_config.js

# ignore .csv files
datafile.csv
datafileSample.csv

# ignore file named newrelic.ks
newrelic.js

server/loaderio-acc92026ad3f3608a96610623f7dc022.txt